@charset "utf-8";
/* CSS Document */

.bulletini-fields {
    background: none repeat scroll 0 0 #fff;
    border-radius: 5px;
    box-sizing: border-box;
    width: 60%;
	background-color: #f1f1f1;
    border-bottom: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
.bulletini-fields h3 {
    background: -moz-linear-gradient(center top , #f9f9f9, #ececec) repeat scroll 0 0 #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 #fff inset;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding-left: 20px;
}
.bulletini-fields h3 span{ float:right; display:block; width:32px; height:32px; background:url(images/sidebar_logo.png) no-repeat; margin-top:36px; margin-right:40px;}
.bulletini_header_logo{margin: 10px 0px; height: 80px;}
.bulletini-fields .info_bar {
    border-bottom-colors: none;
    border-left-colors: none;
    border-right-colors: none;
    border-top-colors: none;
    background: none repeat scroll 0 0 #f3f3f3;
    border-color: #d8d8d8;
    border-image: none;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 1px 0 #fcfcfc inset;
    height: 31px;
    padding:6px 20px 3px 6px;
    text-align: right;
}

.bulletini-fields .info_bar.info_bar_bottom {
    border-radius: 0 0 6px 6px;
    border-width: 1px 0 0;
}
.bulletini-fields h4{border-bottom: 1px solid #e7e7e7;
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    padding: 7px 0;
}
.bulletini-fields.not-expanded h4{ display:none;}
.bulletini-fields.expanded .left-links{ display:none;}
.bulletini-fields.expanded .right-content{ width:100%;}
.bulletini-fields .info_bar .expand {
    background: url("images/toggle_tabs.png") no-repeat scroll -2px -1px rgba(0, 0, 0, 0);
}
.bulletini-fields #expand_options {
    border: 1px solid #bbb;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0;
    height: 22px;
    margin: 3px 0 0 10px;
    text-indent: -9999px;
    width: 21px;
}
.bulletini-fields .info_bar .close {
    background: url("images/toggle_tabs.png") no-repeat scroll -2px -26px rgba(0, 0, 0, 0);
}
.bulletini-fields #expand_options:hover {
    border-color: #888;
    cursor: pointer;
}

.bulletini-fields .info_bar .submit {
    float: right;
    margin: 0;
    padding: 0;
}
.bulletini-fields .left-links{ width:25%; margin:0; padding:0; float:left;}
.bulletini-fields .left-links li.current {
    margin-right: 0;
}
.bulletini-fields .left-links li {
    border-bottom: 1px solid #d8d8d8;
	border-right: 1px solid #d8d8d8;
    box-shadow: 0 1px 0 #f9f9f9 inset;
    margin-bottom: 0;
    margin-right: 1px;
}

.bulletini-fields .left-links ul li.current a {
    background-color: #fcfcfc;
    color: #797979;
    opacity: 1;
}
.bulletini-fields .left-links li a, .bulletini-fields .left-links ul li a:link, .left-links ul li a:visited {
    background-position: 13px 10px;
    background-repeat: no-repeat;
    color: #555;
    display: block;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
    padding: 10px 10px 10px 40px;
    text-decoration: none;
	outline: none;
}

.bulletini-fields .left-links li a {
    color: #999;
}
.bulletini-fields .left-links li.current a {
    color: #333;
}

.bulletini-fields .left-links li.menu-general a {
    background-image: url("images/icon-settings.png");
}
.bulletini-fields .left-links li.menu-data a {
    background-image: url("images/icon-data.png");
}
.bulletini-fields .left-links li.menu-utm a {
    background-image: url("images/icon-tracking.png");
}
.bulletini-fields .left-links li.menu-schedule a {
    background-image: url("images/icon-schedule.png");
}
.bulletini-fields .left-links li.menu-license a {
    background-image: url("images/icon-license.png");
}
.bulletini-fields .left-links li.menu-header a {
    background-image: url("images/icon-header.png");
}
.bulletini-fields .left-links li.menu-footer a {
    background-image: url("images/icon-footer.png");
}
.bulletini-fields .left-links li.menu-frontpage a {
    background-image: url("images/contact.png");
}
.bulletini-fields .left-links li.menu-sidebar a {
    background-image: url("images/sidebar.png");
}
.bulletini-fields .left-links li.menu-tracking a {
    background-image: url("images/icon-updates.png");
}
.bulletini-fields .left-links li.menu-license a {
    background-image: url("images/license.png");
}
.bulletini-fields .left-links li.menu-api a {
    background-image: url("images/api.png");
}
.bulletini-fields .left-links li.menu-advanced-settings a {
    background-image: url("images/advanced-settings.png");
}
.bulletini-fields .left-links li.menu-content-sync-engine a {
    background-image: url("images/content-sync-engine.png");
}
.bulletini-fields .left-links li.menu-content-number-settings a {
    background-image: url("images/content-number-settings.png");
}
.bulletini-fields .left-links li.menu-content-type a {
    background-image: url("images/content-type.png");
}
.bulletini-fields .left-links li.menu-field-match a {
    background-image: url("images/field-match.png");
}
.bulletini-fields .left-links li.menu-templates a {
    background-image: url("images/templates.png");
}
.bulletini-fields .left-links li.menu-utm-settings a {
    background-image: url("images/utm-settings.png");
}
.bulletini-fields .left-links li.menu-support a {
    background-image: url("images/support.png");
}
.right-content {
    background: none repeat scroll 0 0 #fff;
    box-sizing: border-box;
    float: right;
    padding: 0 20px;
    width: 75%;
}

.bulletini-fields .left-links li.current {
    background: none repeat scroll 0 0 #fff;
    border-right: 0 none;
    margin-right: 0;
}
.clr{ clear:both;}


.bulletini-fields .form-table > label, .bulletini-fields-event > label {
    border-bottom: 1px solid #e7e7e7;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
    padding: 7px 0;
}
.bulletini-fields-event label small{ display:block;}
.bulletini-fields .input_area, .bulletini-fields-event .input_area{ margin-bottom:20px;}
.bulletini-fields .input_area .bulletini_inputbox, .bulletini-fields .input_area .bulletini_textarea, .bulletini-fields-event .bulletini_inputbox, .bulletini-fields-event .bulletini_textarea{ width:100%; resize: vertical;}
.bulletini_checkbox {
    display: block !important;
    float: left;
    margin-top: 5px !important;
}
.bulletini_presenter .bulletini_checkbox { margin-top:2px !important;}

.bulletini_presenter label, .bulletini_checkbox_container label {
    border: 0 none;
    color: #000000 !important;
    font-size: 12px !important;
    line-height: 20px;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
} 
.input_area small{
	display:block;
	clear:both;
}
.bulletini-fields .form-table .input_arealabel, .bulletini-fields-event .input_arealabel {
    color: #999;
    display: block;
    float: left;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 0 20px;
    padding: 0;
    width: 50%;
}
.bulletini-fields .content-elements{ min-height:500px;}
.tmce-active .wp-editor-area{ color:#000 !important;}

.episode_times {
    border: 1px solid;
    box-sizing: border-box;
    height: 28px;
    margin-bottom: 10px;
    padding: 4px;
    position: relative;
}
.episode_times .delete_time {
    background: #eeeeee none repeat scroll 0 0;
    color: #ff0000;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 25%;
}
.episode_times input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    font-size: 14px;
    height: 20px;
    margin: 0;
    padding: 0;
    width: 75%;
}

.add_time.button > span {
    background: #72a3cf none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 28px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}
.add_time.button {
    padding-left: 38px;
    position: relative;
}

.section-tab-title > span {
    background-color: #f9f9f9;
    color: #8d8d8d;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 38px;
}
.section-tab-title {
    padding-top: 20px;
}
.section-tab-title > span.active {
    background-color: #f1f1f1;
}
.section-tab-content {
    background-color: #f1f1f1;
    padding: 20px;
    position: relative;
}
.section_delete_button {
    color: #f00;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
}
.section_delete_button::before {
    content: "x ";
    font-size: 140%;
    font-weight: bold;
    padding-right: 6px;
}
.section_delete_button:hover {
	text-decoration:underline;
}
.section-content-clone{
	display:none;
}

.bulletini_tabs-nav {
    margin: 0;
}
.bulletini_tabs-nav > li {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    float: left;
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 15px;
}
.bulletini_tabs-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    clear: both;
    margin-top: -1px;
    padding: 20px;
}
.bulletini_tabs-nav > li.active {
    background-color: #eee;
}

.bulletini-template-thumbnail {
    background-color: #ccc;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    padding: 10px;
    width: 40%;
}
.bulletini-template-thumbnail img {
    max-width: 100%;
}
.bulletini-template-thumbnail > a {
    display: block;
    height: 200px;
    overflow: hidden;
}
.bulletini-template-details > ul {
    margin: 0;
}
.bulletini-template-label {
    display: inline-block;
    float: left;
    font-weight: bold;
    text-align: left;
}
.bulletini-template-details li {
    text-align: right;
}

.bulletini_fancybox_wrapper .bulletini-fields {
    min-width: 320px;
	max-width: 640px;
    width: 100%;
}

.settings_page_bulletini .fancybox-skin {
    padding: 0 !important;
}

.bulletini_fancybox_wrapper .form-table {
    margin: 0 !important;
}
.bulletini_fancybox_wrapper .form-table > label, .bulletini_fancybox_wrapper .form-table > .input_area {
    padding: 0 10px;
}
.bulletini_message{
	color:#648506; line-height:26px;
}

.bulletini-image-container {
    max-height: 80px;
    overflow: hidden;
}
.bulletini-image-container > img {
    max-width: 100%;
}
.bulletini_custom_interests, .bulletini-fields .form-table > label.bulletini_custom_interests{ display:none;}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}
.bulletini-template-container {
    border-bottom: 1px solid;
    /*margin: 0 0 20px;*/
    padding: 20px 0;
}

.bulletini_fancybox_wrapper input[type="text"], .bulletini_fancybox_wrapper textarea {
    width: 100%;
}
.bulletini-template-details p {
    text-align: left;
}

.input_area small strong {
    font-size: 1.1em;
    font-weight: bold;
}

.bulletini_cron_schedule .bulletini_selectbox {
    width: 50%;
}
.bulletini_cron_schedule_settings {
    padding: 10px 0;
	display:none;
}

.buttetini_notice {
    border-left: 4px solid;
    margin: 10px 0;
    padding: 5px 10px;
}
.buttetini_notice.buttetini_err {
    background-color: #fef;
    border-color: #f00;
}
.buttetini_notice.buttetini_msg {
    background-color: #eff;
    border-color: #008ec2;
}
.buttetini_notice.buttetini_info {
    background-color: #fffff1;
    border-color: #ffba00;
}

.fancybox-overlay{ margin-top:32px !important;}

.buttetini_history_log th, .buttetini_history_log td {
    padding: 5px 10px;
    width: auto;
}
.buttetini_history_log th {
    background-color: #eee;
}

.buttetini_history_log_ondemand {
    background-color: #fffff1;
}
.buttetini_history_log_success td {
    color: #000;
}
.buttetini_history_log_error td {
    color: #f00;
}
.buttetini_history_log_scheduled {
    background-color: #dedede;
}
.buttetini_history_log_indicator {
    display: inline-block;
    font-size: 1.25em;
    line-height: 20px;
    padding: 0 20px 10px 30px;
    position: relative;
}
.buttetini_history_log_indicator::before {
    border: 1px solid #999;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}
.buttetini_history_log_indicator.buttetini_history_log_indicator_scheduled::before {
    background-color: #ddd;
}
.buttetini_history_log_indicator.buttetini_history_log_indicator_ondemand::before {
    background-color: #fffff1;
}
.bulletini-fields{min-width:740px;}

.bulletini-fields .info_bar {
    height: auto;
    padding: 6px 20px 6px 6px;
}
.bulletini-fields .info_bar::after {
    clear: both;
    content: "";
    display: block;
}
.bulletini-fields .info_bar .submit input {
    margin: 0;
}

@media (max-width: 767px){
.bulletini-fields{min-width:320px; width:100%;}
.bulletini-fields .left-links {
    display: none;
}
.right-content {
    width: 100%;
}
.bulletini-fields .content-elements {
    display: block !important;
    min-height: auto;
}

.bulletini-fields.not-expanded h4 {
    background-color: #eee;
    display: block;
    margin: 0 -20px;
    padding: 10px 20px;
}
}

.buttetini_control_buttons > span {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    padding: 0 10px;
}
.bulletini_prev {
    float: left;
}
.bulletini_next {
    float: right;
}
.buttetini_control_buttons > span:hover {
    background-color: #ededed;
}
.bulletini_loading {
    background: rgba(255, 255, 255, 0.6) url("images/spinner.gif") no-repeat scroll center center;
    height: 100%;
    position: absolute;
    width: 100%;
	z-index:99;
}