<p style="text-align: right;max-width:800px; min-width:320px; margin:10px auto;"><a href="[Hosted_Email_Link]" style="color:#807175; font-size:0.625rem">View this Email on the Web</a></p>
<table border="0" cellpadding="0" cellspacing="0" style="max-width:800px; min-width:320px; width:100%; font-family:Arial, Helvetica, sans-serif; margin:0 auto;" width="100%">
	<tbody>
		<tr>
			<td style="text-align:center; padding:20px 0;"><img alt="" src="[Config:Logo]" style="max-width:320px; width:50%;" /></td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="height: 30px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="padding:0 0 10px;">
			<h2 style="text-align:center;margin:0;padding:0;"><a href="[A1 Link]" style="color:[Config:Color Scheme]
;line-height:1.875rem;text-decoration:none;font-weight:300; font-size:1.25rem;font-family:Trebuchet MS;" target="_blank">[A1 Title]</a></h2>
			</td>
		</tr>
		<tr>
			<td style="padding:10px 0 20px;">
			<p style="text-align:center;color:#676e73;margin:0;font-size:0.875rem;line-height:1.375rem;font-weight:300;font-family:arial narrow">[A1 Description]</p>
			</td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">
			<div style="background-color:#fff; width: 30%; min-width:250px; margin:0 auto; text-align:center"><a href="[A1 Link]" style="background:[Config:Color Scheme]
;border-radius:16px; display: inline-block;color:#ffffff;font-size:0.875rem;text-transform:uppercase;font-weight:300;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
			</td>
		</tr>
		<tr>
			<td style="height: 30px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="padding:0 0 10px;">
			<h2 style="text-align:center;margin:0;padding:0;"><a href="[B1 Link]" style="color:[Config:Color Scheme]
;line-height:1.875rem;text-decoration:none;font-weight:300; font-size:1.25rem;font-family:Trebuchet MS;" target="_blank">[B1 Title]</a></h2>
			</td>
		</tr>
		<tr>
			<td style="padding:10px 0 20px;">
			<p style="text-align:center;color:#676e73;margin:0;font-size:0.875rem;line-height:1.375rem;font-weight:300;font-family:arial narrow">[B1 Description] </p>
			</td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">
			<div style="background-color:#fff; width: 30%; min-width:250px; margin:0 auto; text-align:center"><a href="[B1 Link]" style="background:[Config:Color Scheme]
;border-radius:16px; display: inline-block;color:#ffffff;font-size:0.875rem;text-transform:uppercase;font-weight:300;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
			</td>
		</tr>
		<tr>
			<td style="height: 30px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="padding:0 0 10px;">
			<h2 style="text-align:center;margin:0;padding:0;"><a href="[B2 Link]" style="color:[Config:Color Scheme]
;line-height:1.875rem;text-decoration:none;font-weight:300; font-size:1.25rem;font-family:Trebuchet MS;" target="_blank">[B2 Title]</a></h2>
			</td>
		</tr>
		<tr>
			<td style="padding:10px 0 20px;">
			<p style="text-align:center;color:#676e73;margin:0;font-size:0.875rem;line-height:1.375rem;font-weight:300;font-family:arial narrow">[B2 Description]</p>
			</td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">
			<div style="background-color:#fff; width: 30%; min-width:250px; margin:0 auto; text-align:center"><a href="[B2 Link]" style="background:[Config:Color Scheme]
;border-radius:16px; display: inline-block;color:#ffffff;font-size:0.875rem;text-transform:uppercase;font-weight:300;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
			</td>
		</tr>
		<tr>
			<td style="height: 30px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="padding:0 0 10px;">
			<h2 style="text-align:center;margin:0;padding:0;"><a href="[B3 Link]" style="color:[Config:Color Scheme]
;line-height:1.875rem;text-decoration:none;font-weight:300; font-size:1.25rem;font-family:Trebuchet MS;" target="_blank">[B3 Title]</a></h2>
			</td>
		</tr>
		<tr>
			<td style="padding:10px 0 20px;">
			<p style="text-align:center;color:#676e73;margin:0;font-size:0.875rem;line-height:1.375rem;font-weight:300;font-family:arial narrow">[B3 Description]</p>
			</td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">
			<div style="background-color:#fff; width: 30%; min-width:250px; margin:0 auto; text-align:center"><a href="[B3 Link]" style="background:[Config:Color Scheme]
;border-radius:16px; display: inline-block;color:#ffffff;font-size:0.875rem;text-transform:uppercase;font-weight:300;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
			</td>
		</tr>
		<tr>
			<td style="height: 30px;">&nbsp;</td>
		</tr>
		<tr>
			<td style="padding:0 0 10px;">
			<h2 style="text-align:center;margin:0;padding:0;"><a href="[C1 Link]" style="color:[Config:Color Scheme]
;line-height:1.875rem;text-decoration:none;font-weight:300; font-size:1.25rem;font-family:Trebuchet MS;" target="_blank">[C1 Title]</a></h2>
			</td>
		</tr>
		<tr>
			<td style="padding:10px 0 20px;">
			<p style="text-align:center;color:#676e73;margin:0;font-size:0.875rem;line-height:1.375rem;font-weight:300;font-family:arial narrow">[C1 Description]</p>
			</td>
		</tr>
		<tr>
			<td style="background-image: url([Option:Template URL]/images/bar.png); background-repeat:repeat-x; background-position:center">
			<div style="background-color:#fff; width: 30%; min-width:250px; margin:0 auto; text-align:center"><a href="[C1 Link]" style="background:[Config:Color Scheme]
;border-radius:16px; display: inline-block;color:#ffffff;font-size:0.875rem;text-transform:uppercase;font-weight:300;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
			</td>
		</tr>
		<tr>
			<td style="height:40px">&nbsp;</td>
		</tr>
        [Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
		<tr>
			<td style="padding:0 30px 0; text-align: center;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						[Condition:Facebook Link]<td width="20">
						<div>
						<div style="text-align:center;color:#aaaaaa"><a href="[Config: Facebook Link]"><img alt="facebook" border="0" class="CToWUd" height="35" src="[Option:Template URL]/images/fb.png" width="35" /> </a></div>
						</div>
						</td>
						<td width="10">&nbsp;</td>[/Condition:Facebook Link]
						[Condition:Twitter Link]<td width="20">
						<div>
						<div style="text-align:center;color:#aaaaaa"><a href="[Config: Twitter Link]"><img alt="twitter" border="0" class="CToWUd" height="35" src="[Option:Template URL]/images/tw.png" width="35" /></a></div>
						</div>
						</td>
						<td width="10">&nbsp;</td>[/Condition:Twitter Link]
						[Condition:LinkedIn Link]<td width="20">
						<div>
						<div style="text-align:center;color:#aaaaaa"><a href="[Config: LinkedIn Link]"><img alt="Pinterest" border="0" class="CToWUd" height="35" src="[Option:Template URL]/images/li.png" width="35" /> </a></div>
						</div>
						</td>
						<td width="10">&nbsp;</td>[/Condition:LinkedIn Link]
						[Condition:Google+ Link]<td width="20">
						<div>
						<div style="text-align:center;color:#aaaaaa"><a href="[Config: Google+ Link]"><img alt="Social media" border="0" class="CToWUd" height="35" src="[Option:Template URL]/images/gp.png" width="35" /> </a></div>
						</div>
						</td>
						<td width="10">&nbsp;</td>[/Condition:Google+ Link]
						[Condition:Youtube Link]<td width="20">
						<div>
						<div style="text-align:center;color:#aaaaaa"><a href="[Config: Youtube Link]"><img alt="Social media" border="0" class="CToWUd" height="35" src="[Option:Template URL]/images/yt.png" width="35" /> </a></div>[/Condition:Youtube Link]
						</div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="height:30px;">&nbsp;</td>
		</tr>
        [/Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
        [Condition:Copyright Text|Footer Link Text]
		<tr>
			<td style="padding: 10px 5px 0; text-align:center">
			<p style="text-align: center; color:#807175; font-size: 0.875rem; line-height: 100%; margin-bottom:5px;">[Config:Copyright Text]</p>

			<p style="text-align: center;color:#807175; font-size: 0.875rem; line-height: 100%; margin-bottom:5px;"><a href="[Config:Footer Link URL]" style="color:#807175;">[Config:Footer Link Text]</a></p>
			</td>
		</tr>
        [/Condition:Copyright Text|Footer Link Text]
	</tbody>
</table>
