<table border="0" cellpadding="0" cellspacing="0" style="background-color: #ebebeb;width: 100%; padding-bottom:20px;">
	<tbody>
		<tr>
			<td><!-- Start -->
			<p style="text-align: right;max-width:800px; min-width:320px; margin:10px auto;"><a href="[Hosted_Email_Link]" style="color:#807175; font-size:0.625rem">View this Email on the Web</a></p>
            <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, san-serif; max-width:800px; min-width:320px; margin:0 auto;" width="100%">
				<tbody><!-- First Part Starts -->
					<tr>
						<td style="text-align:left; padding:20px;"><img alt="" src="[Config:Logo]" style="max-width:200px; width:35%;" /></td>
					</tr>
					<tr>
						<td><a href="[A1 Link]" style="max-height:300px; overflow:hidden; display: block;"><img alt="image" src="[A1 Image]" style="width: 100%; display: block; " /></a></td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td style="2.5rem;">
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[A1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em;">[A1 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px;">[A1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[A1 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:right; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; margin-bottom: 5px;"><a href="[A1 Link]" style="background: [Config:Color Scheme]; display: inline-block; color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!---------------- First Part Finish ---------------------------><!--------------- Second Part Starts ------------------->
					<tr>
						<td style="background-color:#fff; padding:0 5% 0px;">
						<div style="margin: 0px -15px; text-align: center;">
						<div style="display: inline-block; min-width: 280px; overflow: hidden; margin-bottom: 5%; vertical-align: top; padding: 1%; width: 47.5%;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<div style="width: 100%; height: 150px; overflow: hidden; margin-bottom: 5px;"><a href="[B1 Link]"><img alt="Image" src="[B1 Image]" style="height: auto; min-height: 200px; width: 100%" /></a></div>

									<h2 style="margin:0; text-align:left; margin-bottom: 6px"><a href="[B1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em; ">[B1 Title]</a></h2>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[B1 Author]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px;">[B1 Description]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; margin-bottom: 10px; margin-top: 10px"><a href="[B1 Link]" style="display: inline-block; background: [Config:Color Scheme];color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; margin-bottom: 5%; vertical-align: top; padding: 1%; width: 47.5%;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<div style="width: 100%; height: 150px; overflow: hidden; margin-bottom: 5px;"><a href="[B2 Link]"><img alt="image" src="[B2 Image]" style="height: auto; min-height: 200px; width: 100%" /></a></div>

									<h2 style="margin:0; text-align:left; margin-bottom: 6px"><a href="[B2 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em; ">[B2 Title]</a></h2>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[B2 Author]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px;">[B2 Description]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; margin-bottom: 10px; margin-top: 10px"><a href="[B2 Link]" style="display: inline-block; background: [Config:Color Scheme];color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</div>
						<!-- Second Portion ends --></td>
					</tr>
					<!--------------- Second Part Ends ------------------><!-- Third part starts -->
					<tr>
						<td style="background-color:#fff; padding:0;"><a href="[B3 Link]" style="max-height:300px; overflow:hidden; display: block;"><img alt="image" src="[B3 Image]" style="width: 100%; display: block; " /></a></td>
					</tr>
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left;"><a href="[B3 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em; margin-bottom: 6px;">[B3 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px; ">[B3 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[B3 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:right; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; "><a href="[B3 Link]" style="display: inline-block; background: [Config:Color Scheme]; display: inline-block; color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- Third Part ends --><!-- Fourth Part Starts -->
					<tr>
						<td style="background-color:#fff; padding:0 5% 0px;">
						<div style="margin: 0px -15px; text-align: center;">
						<div style="display: inline-block; min-width: 280px; overflow: hidden; margin-bottom: 5%; vertical-align: top; padding: 1%; width: 47.5%;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<div style="width: 100%; height: 150px; overflow: hidden; margin-bottom: 5px;"><a href="[C1 Link]"><img alt="image" src="[C1 Image]" style="height: auto; min-height: 200px; width: 100%" /></a></div>

									<h2 style="margin:0; text-align:left; margin-bottom: 6px"><a href="[C1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em; ">[C1 Title]</a></h2>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[C1 Author]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px;">[C1 Description]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; margin-bottom: 10px; margin-top: 10px"><a href="[C1 Link]" style="display: inline-block; background: [Config:Color Scheme];color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; margin-bottom: 5%; vertical-align: top; padding: 1%; width: 47.5%;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<div style="width: 100%; height: 150px; overflow: hidden; margin-bottom: 5px;"><a href="[C2 Link]"><img alt="image" src="[C2 Image]" style="height: auto; min-height: 200px; width: 100%" /></a></div>

									<h2 style="margin:0; text-align:left; margin-bottom: 6px"><a href="[C2 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.375em; ">[C2 Title]</a></h2>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.063em; margin-bottom: 5px;">[C2 Author]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.5em; margin-bottom: 5px;">[C2 Description]</p>

									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 2.063em; margin-bottom: 10px; margin-top: 10px"><a href="[C2 Link]" style="display: inline-block; background: [Config:Color Scheme];color: #ffffff;	padding: 3px 12px; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</div>
						<!-- Second Portion ends --></td>
					</tr>
					<!-- Fourth Part ends --><!-- Fifth Part Starts -->
					<tr>
						<td style="background-color:#fff; padding:0 5% 40px;">
						<hr height="2px" style="color: #e6e1d8;" /></td>
					</tr>
                    <!-- Fifth Part Starts --><!-- Footer Starts -->
                    [Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
					<tr>
						<td style="background-color:#fff; padding:20px 5% 40px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 100%">
										[Condition:Facebook Link]<a href="[Config: Facebook Link] " style="margin-right: 5px"><img alt="facebook" border="0" data-customicon="true" height="35" src="[Option:Template URL]/images/fb.png" /></a>[/Condition:Facebook Link]
										[Condition:Twitter Link]<a href="[Config: Twitter Link]" style="margin-right: 5px"><img alt="twitter" border="0" data-customicon="true" height="35" src="[Option:Template URL]/images/tw.png" /></a> [/Condition:Twitter Link]
										[Condition:LinkedIn Link]<a href="[Config: LinkedIn Link]" style="margin-right: 5px"><img alt="Pinterest" border="0" height="35" src="[Option:Template URL]/images/li.png" /></a> [/Condition:LinkedIn Link]
										[Condition:Google+ Link]<a href="[Config: Google+ Link]" style="margin-right: 5px"><img alt="Social media" border="0" height="35" src="[Option:Template URL]/images/gp.png" /></a> [/Condition:Google+ Link]
										[Condition:Youtube Link]<a href="[Config: Youtube Link]" style="margin-right: 5px"><img alt="Social media" border="0" height="35" src="[Option:Template URL]/images/yt.png" /> </a>[/Condition:Youtube Link]
                                   	</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
                    [/Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
					<!-- Footer Ends -->
				</tbody>
			</table>
			<!-- end --></td>
		</tr>
	</tbody>
</table>
