<table cellpadding="0" cellspacing="0" data-module="module-1" data-thumb="thumbnails/01.png" style="background: #e0e0e0; min-width: 320px; width: 100%;">
	<tbody>
		<tr>
			<td>
            <p style="text-align: right;margin:10px auto; max-width:700px;"><a href="[Hosted_Email_Link]" style="color:#807175; font-size:0.625rem">View this Email on the Web</a></p>
			<table border="0" cellpadding="0" cellspacing="0" style="background: #ffffff; width: 100%; max-width:700px; margin: 0 auto;">
				<tbody><!-- Logo Starts -->
					<tr>
						<td style="text-align:center; padding:20px;"><img alt="" src="[Config:Logo]" style="max-width:200px; width:45%;" /></td>
					</tr>
					<!-- Logo Ends --><!-- First Part Starts -->
					<tr>
						<td class="img-flex" style="background:url('[A1 Image]') center center no-repeat; width:100%; height:390px; position: relative; background-size: 100%;" valign="bottom">
						<p style="text-align: center; text-transform:uppercase; line-height:101%; color:#FFF; font-size:1.5rem; font-weight:300; margin: 0;"><span style="background:[Config:Color Scheme]; max-width: 250px; min-width: 250px; line-height: 60px; height: 60px; padding: 1% 5%; display: block; margin: 0 auto; white-space:nowrap;">[Config:Featured Text]</span></p>
						</td>
					</tr>
					<!-- First Part Ends -->
					<tr>
						<td style="background-color:#fff; padding:20px 5% 10px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[A1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em; ">[A1 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[A1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[A1 Author]</p>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- Second part ends -->
					<tr>
						<td style="padding: 0 10%;">
                        <div style="background-image:url([Option:Template URL]/images/bar.png);background-repeat:repeat-x;background-position:center;">
						<div style="background-color:#fff;width:30%;min-width:250px;margin:0 auto;text-align:center"><a href="[A1 Link]" style="color: [Config:Color Scheme]; border:solid 2px [Config:Color Scheme]; display:inline-block;font-size:0.875rem;text-transform:uppercase;font-weight:600;padding:7px 10px;text-decoration:none;white-space:nowrap" target="_blank">read more</a></div>
                        </div>
						</td>
					</tr>
					<!-- Third part ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme];">
						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 2%; width: 46%; margin-right: -4px; max-height: 160px; margin-bottom: 5px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td><a href="[B1 Link]"><img alt="" src="[B1 Image]" style=" max-width: 100%; width: 100%;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>
						<!-- second part -->

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 46%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[B1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em; font-weight: 500;">[B1 Title] </a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[B1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[B1 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:right; text-transform: capitalize; color:[Config:Color Scheme]; font-weight:bold;  margin-bottom: 10px; margin-top: 10px;"><a href="[B1 Link]" style="color:[Config:Color Scheme]; padding:8px 18px; font-size:0.875rem; line-height: 3.063em; border:2px solid [Config:Color Scheme]; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<!-- Fourth Part Ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme]; clear: both;">
						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 2%; width: 46%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[B2 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em; font-weight: 500;">[B2 Title] </a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[B2 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[B2 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:left; text-transform: capitalize; color:[Config:Color Scheme]; font-weight:bold;  margin-bottom: 10px; margin-top: 10px;"><a href="[B2 Link]" style="color:[Config:Color Scheme]; padding:8px 18px; font-size:0.875rem; line-height: 3.063em; border:2px solid [Config:Color Scheme]; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 46%; margin-right: -4px; max-height: 160px; margin-bottom: 5px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td><a href="[B2 Link]"><img alt="" src="[B2 Image]" style=" max-width: 100%; width: 100%;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<!-- Fifth Part Ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme]; clear: both;">
						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 2%; width: 46%; margin-right: -4px; max-height: 160px; margin-bottom: 5px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td><a href="[B3 Link]"><img alt="" src="[B3 Image]" style=" max-width: 100%; width: 100%;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 46%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[B3 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em; font-weight: 500;">[B3 Title] </a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[B3 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[B3 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:right; text-transform: capitalize; color:[Config:Color Scheme]; font-weight:bold;  margin-bottom: 10px; margin-top: 10px;"><a href="[B3 Link]" style="color:[Config:Color Scheme]; padding:8px 18px; font-size:0.875rem; line-height: 3.063em; border:2px solid [Config:Color Scheme]; text-decoration: none; white-space:nowrap;" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<!-- Sixth part Ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme]; clear: both;">
						<div style="display: inline-block; min-width: 200px; overflow: hidden; padding: 0 2%; width: 33%; margin-right: -4px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td><a href="[C1 Link]"><img alt="" src="[C1 Image]" style="max-width: 150px; border-radius: 50%; width: 150px; min-height: 150px; max-height: 150px; height: 150px;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 58%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[C1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em;">[C1 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[C1 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[C1 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:right; font-size:0.875rem; font-weight:bold; line-height: 3.063em; margin-bottom: 10px;"><a href="[C1 Link]" style=" color:[Config:Color Scheme]; padding: 3px 12px; text-transform: capitalize; text-decoration: none; white-space:nowrap;border:solid 2px [Config:Color Scheme];" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<!-- Seventh part Ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme]; clear: both;">
						<div style="display: inline-block; min-width: 200px; overflow: hidden; padding: 0 2%; width: 33%; margin-right: -4px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td><a href="[C2 Link]"><img alt="" src="[C2 Image]" style="max-width: 150px; border-radius: 50%; width: 150px; min-height: 150px; max-height: 150px; height: 150px;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 58%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 10px;"><a href="[C2 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em;">[C2 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[C2 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[C2 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:right; font-size:0.875rem; font-weight:bold; line-height: 3.063em; margin-bottom: 10px;"><a href="[C2 Link]" style=" color:[Config:Color Scheme]; padding: 3px 12px; text-transform: capitalize; text-decoration: none; white-space:nowrap;border:solid 2px [Config:Color Scheme];" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
					<!-- Eight part Ends -->
					<tr>
						<td align="center" style="padding:30px 5%; border-bottom: 2px solid [Config:Color Scheme]; clear: both;">
						<div style="display: inline-block; min-width: 200px; overflow: hidden; padding: 0 2%; width: 33%; margin-right: -4px; vertical-align: top;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td><a href="[C3 Link]"><img alt="" src="[C3 Image]" style="max-width: 150px; border-radius: 50%; width: 150px; min-height: 150px; max-height: 150px; height: 150px;" /></a></td>
								</tr>
							</tbody>
						</table>
						</div>

						<div style="display: inline-block; min-width: 280px; overflow: hidden; padding: 0 1% 0 2%; width: 58%; margin-right: -4px;">
						<table cellpadding="0" cellspacing="0" style="width: 100%;">
							<tbody>
								<tr>
									<td>
									<h2 style="margin:0; text-align:left; margin-bottom: 6px;"><a href="[C3 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block; line-height: 1.5em;">[C3 Title]</a></h2>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:#000; line-height: 1.4em; margin-bottom: 5px;">[C3 Description]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; font-style:italic; text-align:left; font-size:0.875rem; color:[Config:Color Scheme]; font-weight:bold; line-height: 1.4em; margin-bottom: 5px;">[C3 Author]</p>
									</td>
								</tr>
								<tr>
									<td>
									<p style="margin:0; text-align:right; font-size:0.875rem; font-weight:bold; line-height: 3.063em; margin-bottom: 10px;"><a href="[C3 Link]" style=" color:[Config:Color Scheme]; padding: 3px 12px; text-transform: capitalize; text-decoration: none; white-space:nowrap;border:solid 2px [Config:Color Scheme];" target="_blank">read more</a></p>
									</td>
								</tr>
							</tbody>
						</table>
						</div>
						</td>
					</tr>
                    [Condition:Widget Title|Widget Content|Widget Button Text]
					<!-- Ninth part Ends --><!-- Footer Starts -->
					<tr>
						<td>
						<table cellpadding="0" cellspacing="0" style=" padding:40px; width:100%; background:[Config:Color Scheme]; width:100%;">
							<tbody>
								[Condition:Widget Title]
                                <tr>
									<td align="center">
									<div style=" color:#FFF; font-size:26px; line-height:25px; font-weight:500;">[Config:Widget Title]</div>
									</td>
								</tr>
                                [/Condition:Widget Title]
                                [Condition:Widget Content]
								<tr>
									<td align="center">
									<p style="font-size:14px; line-height:20px; margin-top:25px; color:#FFF;">[Config:Widget Content]</p>
									</td>
								</tr>
                                [/Condition:Widget Content]
                                [Condition:Widget Button Text]
                                <tr>
									<td align="center">
									<p style="margin:0; text-align:center; color: #ffffff; font-size:0.875rem; font-weight:bold; line-height: 1.4em; margin-bottom: 10px;"><a href="[Config:Widget Button Link]" style="padding:8px 18px; font-size:0.875rem; line-height: 3.063em; border:2px solid #ffffff; text-decoration: none; white-space:nowrap;color: #ffffff; text-transform:uppercase">[Config:Widget Button Text]</a></p>
									</td>
								</tr>
                                [/Condition:Widget Button Text]
							</tbody>
						</table>
						</td>
					</tr>
                    [/Condition:Widget Title|Widget Content|Widget Button Text]
					<!-- -->
					<tr>
						<td>
						<table cellpadding="0" cellspacing="0" style=" padding:40px; width:100%; background:#ffffff; width:100%; border-bottom: 2px solid [Config:Color Scheme];">
							<tbody>
								<tr>
									<td>
									<div style="font-size:14px; line-height:26px; width:100%; text-align:center; color:#807175;">[Config:Copyright Text]</div>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<!-- Footer Ends -->
				</tbody>
			</table>
			<!-- Last part --></td>
		</tr>
	</tbody>
</table>
