<style type="text/css">@media screen and (max-width: 500px) {
	.double-col{
		display:block; width:auto;
	}
}
</style>
<p style="text-align: right;max-width:800px; min-width:320px; margin:10px auto;"><a href="[Hosted_Email_Link]" style="color:#807175; font-size:0.625rem">View this Email on the Web</a></p>
<table align="center" bgcolor="#ededed" border="0" cellpadding="0" cellspacing="0" style="font-family:Arial, san-serif; max-width:800px; min-width:320px; margin:0 auto;" width="100%">
	<tbody>
		<tr>
			<td style="text-align:left; padding:20px;"><img alt="" src="[Config:Logo]" style="max-width: 200px; width: 35%" /></td>
		</tr>
		<tr>
			<td><a href="[A1 Link]" style="max-height:300px; overflow:hidden; display: block;"><img alt="" src="[A1 Image]" style="width: 100%; display: block; " /></a></td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td>
						<h2 style="margin:0; text-align:center;"><a href="[A1 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block">[A1 Title]</a></h2>

						<hr style="width:50%;min-height:2px;background-color:[Config:Color Scheme];border:none; display:block;" /></td>
					</tr>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[A1 Description] <a href="[A1 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
					<tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[A1 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="double-col" width="50%">
						<div style="max-height:140px; overflow:hidden; width: 100%;"><a href="[B1 Link]"><img class="CToWUd" src="[B1 Image]" style="width: 100%; display: block; " /></a></div>
						</td>
						<td class="double-col" style="vertical-align:middle; text-align:center; border-top: solid 1px #e7e3da; border-bottom:solid 1px #e7e3da; border-right:solid 3px [Config:Color Scheme]; padding:15px;"><a href="[B1 Link]" style="color:#000;text-decoration:none;font-size:1.25rem; font-weight:bold;" target="_blank">[B1 Title]</a></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[B1 Description] <a href="[B1 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
                    <tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[B1 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="double-col" style="vertical-align:middle; text-align:center; border-top: solid 1px #e7e3da; border-bottom:solid 1px #e7e3da; border-left:solid 3px [Config:Color Scheme]; padding:15px;"><a href="[B2 Link]" style="color:#000;text-decoration:none;font-size:1.25rem; font-weight:bold;" target="_blank">[B2 Title]</a></td>
						<td class="double-col" width="50%">
						<div style="max-height:140px; overflow:hidden; width: 100%;"><a href="[B2 Link]"><img class="CToWUd" src="[B2 Image]" style="width: 100%; display: block; " /></a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[B2 Description] <a href="[B2 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
                    <tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[B2 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td><a href="[B3 Link]" style="max-height:300px; overflow:hidden; display: block;"><img alt="" src="[B3 Image]" style="width: 100%; display: block; " /></a></td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td>
						<h2 style="margin:0; text-align:center;"><a href="[B3 Link]" style="text-decoration: none; color:#000; font-size:1.25rem; display:inline-block">[B3 Title] </a></h2>

						<hr style="width:50%;min-height:2px;background-color:[Config:Color Scheme];border:none; display:block;" /></td>
					</tr>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[B3 Description] <a href="[B3 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
					<tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[B3 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="double-col" width="50%">
						<div style="max-height:140px; overflow:hidden; width: 100%;"><a href="[C1 Link]"><img class="CToWUd" src="[C1 Image]" style="width: 100%; display: block; " /></a></div>
						</td>
						<td class="double-col" style="vertical-align:middle; text-align:center; border-top: solid 1px #e7e3da; border-bottom:solid 1px #e7e3da; border-right:solid 3px [Config:Color Scheme]; padding:15px;"><a href="[C1 Link]" style="color:#000;text-decoration:none;font-size:1.25rem; font-weight:bold;" target="_blank">[C1 Title]</a></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[C1 Description] <a href="[C1 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
                    <tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[C1 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td class="double-col" style="vertical-align:middle; text-align:center; border-top: solid 1px #e7e3da; border-bottom:solid 1px #e7e3da; border-left:solid 3px [Config:Color Scheme]; padding:15px;"><a href="[C2 Link]" style="color:#000;text-decoration:none;font-size:1.25rem; font-weight:bold;" target="_blank">[C2 Title]</a></td>
						<td class="double-col" width="50%">
						<div style="max-height:140px; overflow:hidden; width: 100%;"><a href="[C2 Link]"><img class="CToWUd" src="[C2 Image]" style="width: 100%; display: block; " /></a></div>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="background-color:#fff; padding:25px 25px;">
			<table align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
				<tbody>
					<tr>
						<td style="padding: 15px 0">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#000">[C2 Description] <a href="[C2 Link]" style="color:#807175;">read more</a></p>
						</td>
					</tr>
                    <tr>
						<td align="center">
						<p style="margin:0; font-style:italic; text-align:center; font-size:0.875rem; color:#807175; font-weight:bold;">[C2 Author]</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		[Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]<tr>
			<td style="background-color:[Config:Color Scheme]; padding:20px;">
			<table align="center" cellpadding="0" cellspacing="0" style="max-width:90%; margin: 0 auto;">
				<tbody>
					<tr>
						[Condition:Facebook Link]<td style="box-sizing: border-box; padding:3px; max-width:45px"><a href="[Config:Facebook Link]"><img src="[Option:Template URL]/images/fb.png" width="100%" /></a></td>[/Condition:Facebook Link]
						[Condition:Twitter Link]<td style="box-sizing: border-box; padding:3px; max-width:45px"><a href="[Config:Twitter Link]"><img src="[Option:Template URL]/images/tw.png" width="100%" /></a></td>[/Condition:Twitter Link]
						[Condition:LinkedIn Link]<td style="box-sizing: border-box; padding:3px; max-width:45px"><a href="[Config:LinkedIn Link]"><img src="[Option:Template URL]/images/li.png" width="100%" /></a></td>[/Condition:LinkedIn Link]
						[Condition:Youtube Link]<td style="box-sizing: border-box; padding:3px; max-width:45px"><a href="[Config:Youtube Link]"><img src="[Option:Template URL]/images/yt.png" width="100%" /></a></td>[/Condition:Youtube Link]
						[Condition:Google+ Link]<td style="box-sizing: border-box; padding:3px; max-width:45px"><a href="[Config:Google+ Link]"><img src="[Option:Template URL]/images/gp.png" width="100%" /></a></td>[/Condition:Google+ Link]
					</tr>
				</tbody>
			</table>
			</td>
		</tr>[/Condition:Facebook Link|Twitter Link|LinkedIn Link|Youtube Link|Google+ Link]
	</tbody>
</table>
